<div class="w-full h-full flex justify-center items-center">
    <div class="w-3/5 flex bg-white shadow-lg rounded-xl px-16">
        <div class="flex justify-center items-center w-1/2 py-16">
            <img src="/assets/img/new copy 1.png" alt="">
        </div>
        <div class="w-1/2 flex justify-center items-center py-24">
            <div class="w-full shadow-md border border-neutral-2-200 rounded-md px-8 py-8 ">
                <h1 class="text-heading-2 font-semibold text-neutral-1-800 text-center mb-2">Nhập mã xác minh</h1>
                <p class="text-center text-body-1 font-regular text-neutral-1-500">Mã xác minh của bạn sẽ được gửi bằng
                    tin nhắn đến (+84) 090681202</p>
                <button routerLink="/account/tao-matkhau-moi" class="w-full mt-8 text-title-1 font-medium" tds-button
                    color="primary">Tiếp tục</button>

            </div>
        </div>
    </div>
</div>