<div class="w-full h-full flex justify-center items-center">
    <div class="w-2/5">
        <p class="text-heading-2 font-semibold text-neutral-1-900">Chọn cửa hàng của bạn</p>
        <p class="text-title-1 font-medium text-neutral-1-700">Có vẻ tài khoản này được dùng cho nhiều cửa hàng. hãy
            chọn cửa hàng bạn muốn truy cập</p>
        <div class="w-full h-auto bg-white shadow-lg border-neutral-2-200 rounded-xl mt-8">
            <div class="flex justify-between items-center px-4 py-4 border-b border-b-neutral-2-300">
                <div class="flex items-center">
                    <div class="mr-3">
                        <tds-avatar  size="lg" tdsSrc="error-link"></tds-avatar>
                    </div>
                    <div>
                        <button routerLink="/pages/trangchu"
                            class="text-title-1 font-medium text-neutral-1-900" tds-flat-button size="md">Shop giày thật
                            giá thật</button>
                        <p class="ml-1"><span class="text-primary-3">0922000234</span> - Truy cập lần cuối: <span
                                class="text-primary-3">12 ngày</span></p>
                    </div>
                </div>
                <div>
                    <i class="tdsi-arrow-right-line text-neutral-1-300"></i>
                </div>
            </div>

            <div class="flex justify-between items-center px-4 py-4 border-b border-b-neutral-2-300">
                <div class="flex items-center">
                    <div class="mr-3">
                        <tds-avatar  size="lg" tdsSrc="error-link"></tds-avatar>
                    </div>
                    <div>
                        <button routerLink="/pages/trangchu"
                            class="text-title-1 font-medium text-neutral-1-900" tds-flat-button size="md">Shop giày thật
                            giá thật</button>
                        <p class="ml-1"><span class="text-primary-3">0922000234</span> - Truy cập lần cuối: <span
                                class="text-primary-3">12 ngày</span></p>
                    </div>
                </div>
                <div>
                    <i class="tdsi-arrow-right-line text-neutral-1-300"></i>
                </div>
            </div>

            <div class="flex justify-between items-center px-4 py-4 border-b border-b-neutral-2-300">
                <div class="flex items-center">
                    <div class="mr-3">
                        <tds-avatar  size="lg" tdsSrc="error-link"></tds-avatar>
                    </div>
                    <div>
                        <button routerLink="/pages/trangchu"
                            class="text-title-1 font-medium text-neutral-1-900" tds-flat-button size="md">Shop giày thật
                            giá thật</button>
                        <p class="ml-1"><span class="text-primary-3">0922000234</span> - Truy cập lần cuối: <span
                                class="text-primary-3">10 ngày</span></p>
                    </div>
                </div>
                <div>
                    <i class="tdsi-arrow-right-line text-neutral-1-300"></i>
                </div>
            </div>

            <div class="flex justify-between items-center px-4 py-4 border-b-neutral-2-300">
                <div class="flex items-center">
                    <div class="mr-3">
                        <tds-avatar  size="lg" tdsSrc="error-link"></tds-avatar>
                    </div>
                    <div>
                        <button routerLink="/pages/trangchu"
                            class="text-title-1 font-medium text-neutral-1-900" tds-flat-button size="md">Shop giày thật
                            giá thật</button>
                        <p class="ml-1"><span class="text-primary-3">0922000234</span> - Truy cập lần cuối: <span
                                class="text-primary-3">12 ngày</span></p>
                    </div>
                </div>
                <div>
                    <i class="tdsi-arrow-right-line text-neutral-1-300"></i>
                </div>
            </div>
        </div>
        <button routerLink="/account/dang-nhap/tao-shop-moi" class="flex justify-center items-center w-full text-body-2 font-medium mt-8"
            tds-button color="primary">
            <i class="tdsi-add-fill mr-2 text-header-2"></i>
            Đăng ký shop mới
        </button>
    </div>
</div>